{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class='col-sm-4'>
        {% for item in product.productimage_set.all %}  <!--product images for loop-->
          {% if item.featured %}
            <div class="col-md-12">
              <img src="{{item.image.url}}" class='img-responsive img-fluid'>
            </div><hr/>
          {% endif %}
        {% endfor %}
        <div class="row">
        {% for item in product.productimage_set.all %}
          {% if not item.featured %}
            
              <div class="col-md-4">
              <img src="{{item.image.url}}" class='img-fluid img-thumbnail'>
            </div>
          {% endif %}
        {% endfor %}
        </div>
            
      </div>
      <div class="col-sm-8">
        <div class='col-sm-12'>
            <h1>{{product.title}}</h1>
            <!-- <h1><a href="{% url 'update_cart' product.slug %}" class="btn btn-primary float-right">Add To Cart</a></h1>
            -->
          </div>
        <div class='col-sm-12'>
          <form class='form' method='POST' action='{% url "update_cart" product.slug %}'>
            {% csrf_token %}
            <div class='col-sm-3 float-left'>
             <input class='form-control' name='qty' type='number' value='1' />
            </div>
            {%  if product.variation_set.all %}
            
            <div class='col-sm-3 float-left'>
            {% if product.variation_set.sizes %}
              <select class='form-control' name='size'>
              {% for item in product.variation_set.sizes %}
                <option value='{{item.title|lower}}'>{{item.title|capfirst}}</option>
              {% endfor %}
              </select>
            {% endif %}
            </div>
            <div class='col-sm-3 float-left'>
            {% if product.variation_set.colors %}
              <select class='form-control' name='color'>
              {% for item in product.variation_set.colors %}
                <option value='{{item.title|lower}}'>{{item.title|capfirst}}</option>
              {% endfor %}
              </select>
            {% endif %}
          </div>
            <div class='col-sm-3 float-left'>
            {% if product.variation_set.packages %}
              <select class='form-control' name='package'>
              {% for item in product.variation_set.packages %}
                <option value='{{item.title|lower}}'>{{item.title|capfirst}}</option>
              {% endfor %}
              </select>
            {% endif %}
          </div>
            {% endif %}
            <input class="btn btn-primary" type='submit' value='Add to cart' />
          </form>
        </div>
      <div class='col-sm-12'>
      <hr/>
        Price : {{product.price}}<br>
        Shipping free with $25+ purchase<hr/>
      </div>
      <div class='col-sm-12'>
        <p id="feat">{{product.description|linebreaks}}</p>
      </div>
    </div>
</div>  
{% endblock %}